<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <img src="../../../../assets/img/core-img/logo.png" alt="Farmie" />
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="active has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-tachometer-alt"></i>Dashboard</a
          >
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="index.html">Dashboard 1</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/admin/animals">
            <i class="fas fa-chart-bar"></i>animals manager</a
          >
        </li>
        <li>
          <a routerLink="/admin/employes">
            <i class="fas fa-table"></i>Employes manager</a
          >
        </li>
        <li>
          <a href="form.html" routerLink="/admin/veterinaires">
            <i class="far fa-check-square"></i>veterinaires manager</a
          >
        </li>
        <li>
          <a href="calendar.html">
            <i class="fas fa-calendar-alt"></i>Gestion fournisseurs</a
          >
        </li>
        <li>
          <a href="map.html"> <i class="fas fa-map-marker-alt"></i>Maps</a>
        </li>

        <li class="has-sub">
          <a class="js-arrow" href="#"> <i class="fas fa-copy"></i>Pages</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="">Login</a>
            </li>
            <li>
              <a href="">Register</a>
            </li>
            <li>
              <a href="">Forget Password</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
