<!-- Retour -->
<div class="famie-breadcrumb">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Desease List</li>
      </ol>
    </nav>
  </div>
</div>

<!-- btn Add -->
<div>
  <button
    type="button"
    routerLink="/admin/maladies/add"
    class="btn btn-warning float-right mr-3"
  >
    Add desease
  </button>
</div>
<!-- Main -->
<div>
  <div class="container">
    <h2 style="text-align: center">Desaese List</h2>
    <div class="card shadow mb-4">
      <div class="">
        <table class="table table-striped">
          <tr style="text-align: center">
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th style="text-align: center">Actions</th>
          </tr>
          <tbody *ngFor="let cap of maladies">
            <tr style="text-align: center">
              <td>{{ cap.id }}</td>
              <td>{{ cap.nom }}</td>
              <td>{{ cap.description }}</td>
              <td>{{ cap.type }}</td>

              <!-- <td>t | date : "dd/MM/yyyy" }}</td> -->
              <td>
                <a
                  class="link-sucess mr-2"
                  [routerLink]="['/capteurs/', cap.id]"
                  >Detail</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
