<br /><br /><br /><br /><br />
<div>
  <button
    type="button"
    routerLink="/admin/veterinaires/add"
    class="btn btn-warning float-right mr-3"
  >
    Add veterinaire
  </button>
</div>
<div class="container">
  <h2 style="text-align: center">veterinaires Manager</h2>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Login</th>
          <th>Password</th>
          <th>Adresse</th>
          <th>Pays</th>
          <th>Telephone</th>
          <th>Date</th>
          <th style="text-align: center">Actions</th>
        </tr>
        <tbody *ngFor="let veterinaire of veterinaires">
          <tr>
            <td>{{ veterinaire.id }}</td>
            <td>{{ veterinaire.nom }}</td>
            <td>{{ veterinaire.prenom }}</td>
            <td>{{ veterinaire.login }}</td>
            <td>{{ veterinaire.password }}</td>
            <td>{{ veterinaire.adresse }}</td>
            <td>{{ veterinaire.pays }}</td>
            <td>{{ veterinaire.telephone }}</td>
            <td>{{ veterinaire.dateCreation | date : "dd/MM/yyyy" }}</td>
            <td>
              <a
                [routerLink]="['/admin/veterinaires/update', veterinaire.id]"
                class="link-warning mr-2"
                >Modifier</a
              >
              <a class="link-danger" (click)="deleteVeterinaire(veterinaire)"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
