<br /><br /><br /><br />
<div class="container">
  <div class="text-center">
    <h4>Update Employe</h4>
  </div>
  <form class="col-md-9 ml-5">
    <div  class="">
      <label>ID</label>
      <input
        type="text"
        [(ngModel)]="curentEmploye.id"
        name="idEmploye"
        class="form-control"
      />
    </div>
    <div class="">
      <label>Nom Employe</label>
      <input
        type="text"
        [(ngModel)]="curentEmploye.nom"
        name="nomEmploye"
        class="form-control"
      />
    </div>
    <div class="">
      <label>Prenom Employe</label>
      <input
        type="text"
        [(ngModel)]="curentEmploye.prenom"
        name="prenomEmploye"
        class="form-control"
      />
    </div>

    <div class="">
      <label>Adresse</label>
      <input
        type="text"
        [(ngModel)]="curentEmploye.adresse"
        name="adresse"
        class="form-control"
      />
    </div>
    <div class="">
      <label>Pays</label>
      <input
        type="text"
        [(ngModel)]="curentEmploye.pays"
        name="pays"
        class="form-control"
      />
    </div>
    <div class="">
      <label>Telephone</label>
      <input
        type="text"
        [(ngModel)]="curentEmploye.telephone"
        name="telephone"
        class="form-control"
      />
    </div>
    <div class="">
      <label>Etat</label>
      <input
        type="text"
        [(ngModel)]="curentEmploye.isEtat"
        name="telephone"
        class="form-control"
      />
    </div>
    <div class="">
      <label>Date création</label>
      <input
        type="date"
        [(ngModel)]="curentEmploye.dateCreation"
        name="dateCreation"
        class="form-control"
      />
    </div>
    <div class="mt-4">
      <button type="submit" (click)="updateEmploye()" class="btn btn-success">
        Ajouter
      </button>
    </div>
  </form>
</div>
